.task-input{
    padding: 5px 10px;
    margin-right: 30px;
    border-radius: 5px;
    outline: 2px solid #f5f8f8;
}
.input-form{
    margin: 30px 30px;}
.submit-btn{
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #0ec593;
    outline: 2px solid #f5f8f8;
}